  <configuration>
      <property>
          <name>fs.defaultFS</name>
          <value>hdfs://hdfsnamenoderpc.kubernetes.local:HDFSNAMENODERPC_SERVICE_PORT</value>
      </property>
  </configuration>
